.DS_Store
*.bak
zato/.cache
zato/pickup-dir
zato/.rnd
*.log
pubsub-overflown.log
zato/zatoenv/web-admin/logs
pidfile
logs
zato/zatoenv/load-balancer/config/repo/.bzr/checkout/dirstate
zato/zatoenv/load-balancer/config/repo/.bzr/repository/pack-names
zato/zatoenv/load-balancer/config/repo/.bzr/branch/last-revision
zato/zatoenv/server1/config/repo/.bzr/branch/last-revision
zato/zatoenv/server1/config/repo/.bzr/checkout/dirstate
zato/zatoenv/server1/config/repo/.bzr/repository/indices/53c0f27341d98a18701e6c7f3d368287.cix
zato/zatoenv/server1/config/repo/.bzr/repository/indices/53c0f27341d98a18701e6c7f3d368287.iix
zato/zatoenv/server1/config/repo/.bzr/repository/indices/53c0f27341d98a18701e6c7f3d368287.rix
zato/zatoenv/server1/config/repo/.bzr/repository/indices/53c0f27341d98a18701e6c7f3d368287.six
zato/zatoenv/server1/config/repo/.bzr/repository/indices/53c0f27341d98a18701e6c7f3d368287.tix
zato/zatoenv/server1/config/repo/.bzr/repository/pack-names
zato/zatoenv/server1/config/repo/.bzr/repository/packs/53c0f27341d98a18701e6c7f3d368287.pack
zato/zatoenv/server2/config/repo/.bzr/branch/last-revision
zato/zatoenv/server2/config/repo/.bzr/checkout/dirstate
zato/zatoenv/server2/config/repo/.bzr/repository/indices/a9ef7ad3f63cc0e1e60016703eec15f7.cix
zato/zatoenv/server2/config/repo/.bzr/repository/indices/a9ef7ad3f63cc0e1e60016703eec15f7.iix
zato/zatoenv/server2/config/repo/.bzr/repository/indices/a9ef7ad3f63cc0e1e60016703eec15f7.rix
zato/zatoenv/server2/config/repo/.bzr/repository/indices/a9ef7ad3f63cc0e1e60016703eec15f7.six
zato/zatoenv/server2/config/repo/.bzr/repository/indices/a9ef7ad3f63cc0e1e60016703eec15f7.tix
zato/zatoenv/server2/config/repo/.bzr/repository/pack-names
zato/zatoenv/server2/config/repo/.bzr/repository/packs/a9ef7ad3f63cc0e1e60016703eec15f7.pack
