
# ##############################################################################

global
    log 127.0.0.1:514 local0 debug # ZATO global:log
    stats socket /vagrant/zatoenv/load-balancer/haproxy-stat.sock # ZATO global:stats_socket

# ##############################################################################

defaults
    log global
    option httpclose

    stats uri /zato-lb-stats # ZATO defaults:stats uri

    timeout connect 15000 # ZATO defaults:timeout connect
    timeout client 15000 # ZATO defaults:timeout client
    timeout server 15000 # ZATO defaults:timeout server

    errorfile 503 /vagrant/zatoenv/load-balancer/config/repo/503.http

    stats enable
    stats realm   Haproxy\ Statistics

    # Note: The password below is a UUID4 written in plain-text.
    stats auth    admin1:90575a1adec644fcbfe81c1e12e40522

    stats refresh 5s

# ##############################################################################

backend bck_http_plain
    mode http
    balance roundrobin
    
# ZATO begin backend bck_http_plain


    server http_plain--server1 127.0.0.1:17010 check inter 2s rise 2 fall 2 # ZATO backend bck_http_plain:server--server1
    server http_plain--server2 127.0.0.1:17011 check inter 2s rise 2 fall 2 # ZATO backend bck_http_plain:server--server2


# ZATO end backend bck_http_plain

# ##############################################################################

frontend front_http_plain

    mode http
    default_backend bck_http_plain

    option forwardfor
    option httplog # ZATO frontend front_http_plain:option log-http-requests
    bind 127.0.0.1:11223 # ZATO frontend front_http_plain:bind
    maxconn 200 # ZATO frontend front_http_plain:maxconn

    monitor-uri /zato-lb-alive # ZATO frontend front_http_plain:monitor-uri
